p.selectedZone {
  position: absolute;
  z-index: 500;
  right: 50%;
  font-weight: bolder !important;
  font-size: 24px !important;
  text-transform: uppercase;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  span {
    font-size: 14px;
    color: orange;
  }
}

.zonePicker {
  width: 800px;
  margin: 0 auto;
  position: relative;

  button {
    margin-top: 40px;
  }
}

p.hoveredZone {
  position: absolute;
  z-index: 500;
  top: 400px;
  left: 20px;
  font-weight: bolder !important;
  text-transform: lowercase;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

textarea.itemTextArea {
  height: 200px;
  color: blue;
}

.giveItem {
  input {
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
  }
}

.itemsList {
  span.id {
    font-weight: bolder;
    color: rgba(41, 128, 185,1.0);
  }
}

.visitorClock {
  font-size: 24px;
  color: blue;
}

.card {
  position: absolute;
  top: 0;
  width: 3.75in;
  height: 2.25in;
  border: 1px solid  red;
}

.card-body {
  position: absolute;
  width: 3.5in;
  height: 2in;
  padding: .125in;
  display: grid;
	grid-template-columns: 1.5in 2in;
	grid-template-areas:
  "header  header"
	"sidebar content"
	"footer  footer";
  text-align: centre;
  line-height: 0;

  h3, h4, h5 {
    margin: 0 0;
  }

  h3 {
    text-decoration: underline;
  }

  .sidebar {
    grid-area: sidebar;
    height: 0.9in;
  }

  .content {
    grid-area: content;
    position: relative;
    line-height: 0in;
    margin-left: 0.1in;

    .bold {
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  .header {
    grid-area: header;
    height: 0.3in;
    line-height: 0;
    text-align: center;
  }
  .footer {
    grid-area: footer;
    height: 0.8in;
    font-size: 0.1in;
    text-align: center;
  }
}

.newVisitor {
  input.grommetux-text-input {
    text-transform: uppercase;
  }
  section.fields {
    height: 700px;
  }

  .grommetux-split__column {
    height: 800px;
  }
}



.visitors {
  span.emphasis {
    color: orange;
    font-weight: bold;
  }

  strong {
    color: blue;
  }
}

.visitorDetails, {
  .details {
    text-align: center;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    p.name {
      font-weight: bolder;
      font-size: 24px;
      color: blue;
    }

    span.emphasis {
    color: orange;
    font-weight: bold;
    }
  }

  form.grommetux-form.grommetux-form--pad-none {
    margin: auto;
    text-align: center;
  }
}

.historyTable {
  text-align: center;

  h4 {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bolder;
    color: #e74c3c;
  }

  p.supportText {
    color: #bdc3c7;

    span {
      color: #e67e22;
    }
  }

  th {
    color: #8e44ad;
    font-weight: bolder;
  }

  span.relativeTime {
    color: #f39c12;
    font-size: 12px;
  }
}

span.grommetux-form-field__contents {
  color: #8e44ad;
}

.popTable {
  background: #bdc3c7;
  color: white;
  th {
    color: #f39c12;
  }
  span.relativeTime {
    font-size: 14px;
    color: blue;
  }
}

.loginHeadline {
  color:#ece9e5;
}

.loginHeading {
  color:#bbb8b3;
}
