p.selectedZone {
  position: absolute;
  z-index: 500;
  right: 50%;
  font-weight: bolder !important;
  font-size: 24px !important;
  text-transform: uppercase;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  span {
    font-size: 14px;
    color: orange;
  }
}

.zonePicker {
  width: 1000px;
  margin: 0 auto;
  position: relative;

  button {
    margin-top: 40px;
  }
}

p.hoveredZone {
  position: absolute;
  z-index: 500;
  top: 400px;
  left: 20px;
  font-weight: bolder !important;
  text-transform: lowercase;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

textarea.itemTextArea {
  height: 200px;
  color: blue;
}

.giveItem {
  input {
    color: blue;
    text-transform: uppercase;
    font-weight: bolder;
  }
}

.itemsList {
  span.id {
    font-weight: bolder;
    color: rgba(41, 128, 185,1.0);
  }
}

.visitorClock {
  font-size: 24px;
  color: blue;
}


.eCard {
  position: absolute;
  top: 0;
  width: 8.0in;
  height: 3.5in;
}



.newVisitor {
  input.grommetux-text-input {
    text-transform: uppercase;
  }
  section.fields {
    height: 700px;
  }

  .grommetux-split__column {
    height: 800px;
  }
}

.card {
  display: none;
}

.visitorCard {
  display: none;
}

.vehicleCard {
  display: none;
}



.card-body {
  display: none;
}

.visitors {
  height : '700px' !important;
  span.emphasis {
    font-weight: bold;
  }

  strong {
  }
}

.visitorDetails, {
  .details {
    text-align: center;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    p.name {
      font-weight: bolder;
      font-size: 24px;
      color: blue;
    }

    span.emphasis {
    color: orange;
    font-weight: bold;
    }
  }

  form.grommetux-form.grommetux-form--pad-none {
    margin: auto;
    text-align: center;
  }
}

.historyTable {
  text-align: center;

  h4 {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bolder;
    color: #e74c3c;
  }

  p.supportText {
    color: #bdc3c7;

    span {
      color: #e67e22;
    }
  }

  th {
    color: #8e44ad;
    font-weight: bolder;
  }

  span.relativeTime {
    color: #f39c12;
    font-size: 12px;
  }
}

span.grommetux-form-field__contents {
  color: #8e44ad;
}

.popTable {
  background: #bdc3c7;
  color: white;
  th {
    color: #f39c12;
  }
  span.relativeTime {
    font-size: 14px;
    color: blue;
  }
}

.loginHeadline {
  color:#ece9e5;
}

.loginHeading {
  color:#bbb8b3;
}


.attSlip {
  visibility: hidden;
}

.datewisePrint {
  visibility: hidden;
}

.printFooter {
  visibility: hidden;
}

.prntAnchor {
  visibility: visible;
}

.vehicleReportsTable {
  width: 100%;
  border-collapse: collapse;
}

.vehicleReportsTable tr td {
  font-size: 11px;
}

.vehicleAbstractReportsTable {
  width: 80%;
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: 10%;
}

.vehicleReportsTable th, .vehicleReportsTable td {
  border: 1px solid #ddd;
}

.progressBar {
  position: relative;
  height: 15px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #481BA2;
}

.filler {
  background: #501EB4;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

th,td {
  text-align: center;
}

@page {
        size: A4;
        margin-bottom: 20;
}


@media print {

        .abstractTable th, .abstractTable td {
          padding: 10px;
          text-align: center;
          color: black;
        }

        .prntAnchor {
          visibility: hidden;
        }

        .unitClass {
          margin-left: 60px;
        }

        .printVisitor {
            border: initial;
            border-radius: initial;
            color: #000;
            background-color: #fff;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
            text-shadow: none;
        }

        .card {
          display: block;
          position: absolute;
          top: 40;
          left: 40;
          width: 10.2in;
          height: 4in;
          border: 1px solid  red;
        }

        .visitorCard {
          display: block;
          position: absolute;
          top: 40;
          left: 80;
          width: 10in;
          height: 5in;
          border: 1px solid  red;
        }

        .vehicleCard {
          display: block;
          position: absolute;
          top: 40;
          left: 20;
          width: 10in;
          height: 6in;
          border: 1px solid  red;
        }

        .card-body {
          position: absolute;
          width: 10in;
          height: 5in;
          top:20;
          left: 20;
          padding: .125in;
          display: grid;
          grid-template-columns: repeat(9, 1fr);
          grid-auto-rows: minmax(100px, auto);
          grid-template-areas:
                "hd hd hd hd   hd   hd   hd   hd   hd"
                "sd sd sd main main main main main main"
                "ft ft ft ft   ft   ft   ft   ft   ft";
          text-align: center;
          line-height: 0;


          .sidebar {
            grid-area: sd;
            position: relative;
            height : 4in;
            margin-top: 20px;
          }

          .content {
            grid-area: main;
            height : 2.5in;
            margin-top: 20px;
            line-height: 0in;
          }

          .header {
            grid-area: hd;
            height: 0.3in;
            line-height: 0;
            text-align: center;
          }
          .footer {
            grid-area: ft;
            height : 0.2in;
            font-size: 0.1in;
            text-align: center;
            margin-top: 20px;
          }

        }

        .vehicleCardBody {
          position: absolute;
          width: 10in;
          height: 5in;
          top:20;
          left: 20;
          padding: .125in;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-auto-rows: minmax(100px, auto);
          grid-template-areas:
                "hd hd hd hd   hd   hd   hd   hd   hd"
                "sd sd sd main main main main main main"
                "ft ft ft ft   ft   ft   ft   ft   ft";
          text-align: center;
          line-height: 0;


          .sidebar {
            grid-area: sd;
            position: relative;
            height : 4in;
            margin-top: 20px;
          }

          .content {
            grid-area: main;
            height : 2.5in;
            margin-top: 20px;
            line-height: 0in;
          }

          .header {
            grid-area: hd;
            height: 0.3in;
            line-height: 0;
            margin-top: 20px;
            text-align: center;
          }
          .footer {
            grid-area: ft;
            height : 0.2in;
            font-size: 0.1in;
            text-align: center;
            margin-top: 20px;
          }

        }

        .attendanceCardBody {
          position: absolute;
          width: 10in;
          height: 5in;
          top:20;
          left: 20;
          padding: .125in;
          display: grid;
          grid-template-columns: repeat(5.5, 1fr);
          grid-auto-rows: minmax(50px, auto);
          grid-template-areas:
                "hd hd hd hd   hd   hd   hd   hd   hd"
                "sd sd sd main main main main main main"
                "ft ft ft ft   ft   ft   ft   ft   ft";
          text-align: center;
          line-height: 0;


          .sidebar {
            grid-area: sd;
          }

          .content {
            grid-area: main;
          }

          .header {
            grid-area: hd;
            text-align: center;
          }
          .footer {
            grid-area: ft;
          }

        }


        .attSlip {
          visibility: visible;
        }

        .tablesArray {
          page-break-after: always;
        }

        .attendanceTableArr {
          page-break-after: always;
        }

        .attTableRow {
          background-color: #FFFFFF !important;
        }

        .datewiseTableRow {
          background-color: #FFFFFF !important;
        }

        .datewiseTable
        {
          width: 100%;
          font-size: 8px;
        }

        .datewisePrint {
          visibility: visible;
        }

        .reportsTable {
          color: #000;
          background-color: #fff;
          box-shadow: none;
          text-shadow: none;
        }

        .abstractPrint {
          box-shadow: none;
          text-shadow: none;
        }

        .printFooter {
          visibility: visible;
          position: fixed;
          bottom: -20px;
          right: 40px;
        }
}
